<div class="post-image">
  <%= image_tag @post.facility.image.url , class: "post-image-pic" if @post.facility.image.url.present? %>
</div>
<div class="comment-page">
  <div class="comment-details">
    <div class="comment-name">
      <p>名称</p>
      <div class="facility-name"><%= @post.facility.name %></div>
    </div>
  </div>
</div>

<div class="comments-form">
  <%= form_with model: [@post, @comment],local: true do |f|%>
    <div class="comment-form-wrapper">
      <div class="comment-rating-wrapper">
        <p class=""></p>
        <div class="form-group" id="star">
          <%= f.label :rating, "評価する" %>
          <%= f.hidden_field :rating, id: :review_star, class: 'form-control' %>
          <div id="post_raty" data-star-on="<%= asset_path('star-on.png') %>" 
                              data-star-off="<%= asset_path('star-off.png') %>" 
                              data-star-half="<%= asset_path('star-half.png') %>">
          </div>
        </div>
      </div>
    <div class="comment-form">
      <%= f.label :content, "コメントを書く" %><br />
      <%= f.text_field :content, class:"comment-text" %>
    </div>
    <div class="facility-place-form">
      <p><%= @post.id %></p>
      <%= f.hidden_field :post_id, value: @post.id %>
    </div>
    <div class="actions">
      <%= f.submit "評価する",  class:"comment-post-btn"  %>
    </div>
    </div>
  <% end %>
</div>
