<div class="mypage">
  <div class="user-image">
    <%= image_tag @user.imageName.url , class: "user-image-pic" if @user.imageName.url.present? %>
  </div>
  <div class="review-details">
    <div class="user-name"><%= @user.name %></div>
    <div class="user-email"><%= @user.email %></div>
    <%= link_to '編集', edit_user_path(@user), class: 'edit-button' %>
  </div>
</div>



<div class="reviews">
  <p class="review-title">投稿</p>
  <div class="review">
    <div class="review-wrapper">
      <div class="review-pic">
         <%= image_tag @user.imageName.url , class: "review-user-image-pic" if @user.imageName.url.present? %>
      </div>
      <div class="review-user-name">
        <%= @user.name %>
      </div>
      <div class="review-facility-name">
        施設名
      </div>
      <div class="rating">
        ★★★★☆
      </div>
    </div>
    <div class="review-content">
      とても役立った。また利用したい
    </div>
  </div>
</div>