<div class="mypage-wrapper">
  <div class="mypage">
    <div class="user-image">
      <%= image_tag @post.facility.image.url , class: "user-image-pic" if @user.imageName.url.present? %>
    </div>
    <div class="review-details">
      <p>名前</p>
      <div class="user-name"><%= @post.facility.name %></div>
      <p>レビュー</p>
      <p>4.3 ★★★★☆ (３件の評価)
    </div>
  </div>

  <div class="reviews">
    <p class="review-title">投稿</p>
    <% @comments.each do |comment| %>
      <div class="review">
        <div class="review-facility-created-at">
            <%= commen.created_at.strftime('%Y年%m月%d日%H時%M分') %>
          </div>
        <div class="review-wrapper">
          <div class="review-pic">
            <%= image_tag comment.user.imageName.url , class: "review-user-image-pic" if post.facility.image.url.present? %>
          </div>
          <div class="review-facility-name">
            <%= comment.user.name %>
          </div>
          <div class="rating">
            ★★★★☆
          </div>
        </div>
        <div class="review-content">
          <%= comment.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>