<div class="comments-page-wrapper">
  <div class="post-image">
    <%= image_tag @post.facility.image.url , class: "post-image-pic" if @post.facility.image.url.present? %>
  </div>
  <div class="comment-page">
    <div class="comment-details">
      <div class="post-name">
        <p>名前</p>
        <div class="comment-facility-name">　<%= @post.facility.name %></div>
      </div>
      <p>レビュー</p>
      <div class="post-review-average">
        <p class="post-review-average-content">平均　<%= @comments.average(:rating)? @comments.average(:rating).round(1):0 %></p>
        <p id="star-rating" class="star-rating"
            data-score="<%= @comments.average(:rating)? @comments.average(:rating).round(1):0 %>"
            data-star-on="<%= asset_path('star-on.png') %>"
            data-star-off="<%= asset_path('star-off.png') %>"
            data-star-half="<%= asset_path('star-half.png') %>"></p>
        <p class="post-review-average-content">(<%= @comments.count %>件の評価)</p>
      </div>
    </div>
  </div>

  <div class="comments">
    <p class="comment-title">すべての評価</p>
    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="comment-facility-created-at">
            <%= comment.created_at.strftime('%Y年%m月%d日%H時%M分') %>
          </div>
        <div class="comment-wrapper">
          <div class="comment-reviewer-pic">
            <%= image_tag comment.user.imageName.url , class: "comment-reviewer-image-pic" if comment.user.imageName.url.present? %>
          </div>
          <div class="comment-reviewer-name">
            <%= comment.user.name %>
          </div>
          <div class="rating">
            <% comment.rating.times do %>
              <img src="<%= asset_path('star-on.png') %>" alt="star" class="rating-star">
            <% end %>
            <% (5 - comment.rating).times do %>
              <img src="<%= asset_path('star-off.png') %>" alt="star" class="rating-not-star">
            <% end %>
          </div>
        </div>
        <div class="comment-review-content">
          <%= comment.content %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button-wrapper">
    <%= link_to '戻る', posts_path, class: 'close-button' %>
    <%= link_to '評価する',  new_post_comment_path(@post), class: 'review-button' %>
  </div>
</div>