<%= include_gon %>

<div class="top-bar" id="top-bar">
  <h1>きれいなトイレを見つけよう（東京）</h1>
  <p>あなたの近くの清潔で安全なトイレを見つけましょう。</p>
</div>

<div class="search">
  <!-- 検索バーの実装はここに入れます -->
  <%= link_to "最寄りのトイレ", posts_path, class:"search-btn"%>
</div>

<div class="points">
  <ul>
    <li>
     <div class="point">
      <!-- アイコンとテキストの実装 -->
      <p>\ P O I N T 1 /</p>
      <%= image_tag "point1.png", class:"point-pict" %>
      <p>きれいなトイレを<br>最短最速で検索</p>
     </div>     
    </li>
    <li>
     <div class="point">
      <!-- アイコンとテキストの実装 -->
      <p>\ P O I N T 2 /</p>
      <%= image_tag "point2.png", class:"point-pict" %>
      <p>安心ナビでまよわず<br>トイレまで案内</p>
     </div>     
    </li>
    <li>
     <div class="point">
      <!-- アイコンとテキストの実装 -->
      <p>\ P O I N T 3 /</p>
      <%= image_tag "point3.png", class:"point-pict" %>
      <p>きれいなトイレを<br>みんなで評価</p>
     </div>     
    </li>
  </ul>
</div>


<div class="map">
  <p>\ S E A R C H /</p>
  <div class="pict">
    <%= image_tag "map.png", class:"map-pict" %>
  </div>
  <%= link_to "最寄りのトイレ", posts_path, class:"map-link"%>
  <p>東京</p>
</div>
<!-- ここにGoogle MapsやOpenStreetMapの埋め込みコードを挿入 -->
<div class = "top-map" id="top-map" data-house-icon-url="<%= asset_path('house.svg') %>" data-restroom-icon-url="<%= asset_path('public.png') %>" data-route-icon-url="<%= asset_path('route.png') %>"></div>

<div class="bottom-bar">
  <div class="pict">
    <%= link_to image_tag('top.png'), '#top-bar' %>
  </div>
</div>



<script>
  const googlemapKey = gon.googlemap_key;
  function loadGoogleMapsAPI(currentLanguage) {
    ((g) => {
      var h,
        a,
        k,
        p = "The Google Maps JavaScript API",
        c = "google",
        l = "importLibrary",
        q = "__ib__",
        m = document,
        b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set(),
        e = new URLSearchParams(),
        u = () =>
          h ||
          (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g)
              e.set(
                k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                g[k]
              );
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => (h = n(Error(p + " could not load.")));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a);
          }));
      d[l]
        ? console.warn(p + " only loads once. Ignoring:", g)
        : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
    })({
      key: googlemapKey,
      v: "beta",
    });
  }
  <!-- マップの表示 -->
  loadGoogleMapsAPI();
</script>